/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
@font-face {
  font-family: 'BrothersRegularMedium';
  src: url('/assets/themes/salsacaribecouk/fonts/brothreg-071211005EmigreWebOnly.eot');
  src: url('/assets/themes/salsacaribecouk/fonts/brothreg-071211005EmigreWebOnly.eot?#iefix') format("embedded-opentype"), url('/assets/themes/salsacaribecouk/fonts/brothreg-071211005EmigreWebOnly.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrothersBoldAlternatesBold';
  src: font- url("brothbolalt-071211005EmigreWebOnly.eot");
  src: url('/assets/themes/salsacaribecouk/fonts/brothbolalt-071211005EmigreWebOnly.eot?#iefix') format("embedded-opentype"), url('/assets/themes/salsacaribecouk/fonts/brothbolalt-071211005EmigreWebOnly.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}

/* line 22, ../sass/partials/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "runda", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #284857;
  font-weight: 500;
}
/* line 28, ../sass/partials/_typography.scss */
h1 b, h1 strong, h2 b, h2 strong, h3 b, h3 strong, h4 b, h4 strong, h5 b, h5 strong, h6 b, h6 strong {
  font-weight: inherit;
  color: #952E2E;
}

/* line 34, ../sass/partials/_typography.scss */
p {
  margin: 1em 0;
}

@font-face {
  font-family: 'icomoon';
  src: url('/assets/themes/salsacaribecouk/fonts/icomoon.eot');
  src: url('/assets/themes/salsacaribecouk/fonts/icomoon.eot?#iefix') format("embedded-opentype"), url('/assets/themes/salsacaribecouk/fonts/icomoon.svg#icomoon') format("svg"), url('/assets/themes/salsacaribecouk/fonts/icomoon.woff') format("woff"), url('/assets/themes/salsacaribecouk/fonts/icomoon.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 52, ../sass/partials/_typography.scss */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

/* line 60, ../sass/partials/_typography.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-weight: normal;
  font-style: normal;
  font-family: 'icomoon';
  speak: none;
  -webkit-font-smoothing: antialiased;
}

/* line 67, ../sass/partials/_typography.scss */
.icon-mobile:before {
  content: "\21";
}

/* line 72, ../sass/partials/_typography.scss */
address {
  font-style: normal;
}

/* line 79, ../sass/partials/_typography.scss */
.pullquote-right:before,
.pullquote-left:before {
  /* Reset metrics. */
  padding: 0;
  border: none;
  /* Content */
  content: attr(data-pullquote);
  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 320px;
  margin: 12px -140px 24px 36px;
  /* Baseline correction */
  position: relative;
  top: 5px;
  /* Typography (30px line-height equals 25% incremental leading) */
  font-size: 23px;
  line-height: 30px;
}

/* line 100, ../sass/partials/_typography.scss */
.pullquote-left:before {
  float: left;
  margin: 12px 31px 24px -102px;
  width: 251px;
}

/* line 107, ../sass/partials/_typography.scss */
.article-title {
  background: url('/assets/images/rgbapng/ffffff66.png?1352938458');
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 5px 0 #fff,inset 0 5px 0 #fff;
  padding: 0 1em;
  text-align: right;
  line-height: 1.2;
  margin-bottom: 2em;
}
/* line 114, ../sass/partials/_typography.scss */
.article-title span {
  position: relative;
  top: 5px;
  display: inline-block;
  padding: .5em  0;
  border-bottom: 5px solid #5091af;
}

/* line 124, ../sass/partials/_typography.scss */
.title b,
.title strong {
  color: #b22f2f;
  font-weight: 500;
}

/* line 132, ../sass/partials/_typography.scss */
b,
strong {
  font-weight: 300;
}

/* line 137, ../sass/partials/_typography.scss */
[href^="tel"] {
  font-family: "freight-sans-pro", "runda", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 125%;
}
/* line 141, ../sass/partials/_typography.scss */
.site-header [href^="tel"] {
  font-size: 100%;
  font-weight: 300;
}

/* line 15, ../sass/advanced.scss */
.location {
  *zoom: 1;
  widht: 100%;
}
/* line 38, ../../../../../../../../.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.location:after {
  content: "";
  display: table;
  clear: both;
}
/* line 18, ../sass/advanced.scss */
.location .vcard {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  padding-left: 6.77966%;
}
/* line 21, ../sass/advanced.scss */
.location .vcard.last {
  margin-right: 0;
}
/* line 24, ../sass/advanced.scss */
.location .vcard dd {
  margin: 0;
  position: relative;
}
/* line 28, ../sass/advanced.scss */
.location .vcard dd span:first-child,
.location .vcard dd .map-marker {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  position: static;
  color: #fff;
  background: #F53837;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
}
/* line 41, ../sass/advanced.scss */
.location .figure {
  clear: both;
}

@media only screen and (min-width: 590px) {
  /* line 1, ../sass/partials/_site-header-advanced.scss */
  .site-logo {
    height: 60px;
    letter-spacing: .05em;
    font-size: 216%;
    line-height: 60px;
    display: inline;
    float: left;
  }

  /* line 9, ../sass/partials/_site-header-advanced.scss */
  .site-logo,
  .site-tagline .h1 {
    -webkit-mask-image: url('/assets/images/skin/mask.png?1351265196');
  }

  /* line 14, ../sass/partials/_site-header-advanced.scss */
  .site-branding .site-logo,
  .site-branding .contact a {
    padding: 0;
  }
  /* line 17, ../sass/partials/_site-header-advanced.scss */
  .site-branding .contact {
    height: 60px;
    background: transparent;
    font-size: 150%;
    line-height: 60px;
    display: inline;
    float: right;
  }
  /* line 23, ../sass/partials/_site-header-advanced.scss */
  .site-branding .contact a {
    text-decoration: none;
    padding: 0;
  }

  /* line 29, ../sass/partials/_site-header-advanced.scss */
  .js .site-branding .contact {
    padding: 0;
  }

  /* line 33, ../sass/partials/_site-header-advanced.scss */
  .site-tagline h1, .site-tagline .h1 {
    font-size: 60px;
  }

  /* line 1, ../sass/partials/_site-nav-advanced.scss */
  .site-header-wrapper {
    caption-side: bottom;
  }

  /* line 4, ../sass/partials/_site-nav-advanced.scss */
  .site-nav {
    border-bottom: 4px solid #dce9ef;
    background: #8b2a2c url('/assets/images/skin/grunge_wall_red.png?1351265196') repeat 0 0;
    text-align: center;
  }
  /* line 7, ../sass/partials/_site-nav-advanced.scss */
  .site-nav .access {
    position: absolute;
    left: -12345em;
  }
  /* line 14, ../sass/partials/_site-nav-advanced.scss */
  .site-nav ul {
    margin: 0;
    padding: 0;
    display: block;
  }
  /* line 19, ../sass/partials/_site-nav-advanced.scss */
  .site-nav li {
    display: inline;
    float: left;
    position: relative;
    top: 4px;
    margin-top: -4px;
    padding: 1px 0 0;
    border-bottom: 4px solid #bad4de;
  }
  /* line 26, ../sass/partials/_site-nav-advanced.scss */
  .site-nav li a {
    display: block;
    border: 0;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 1px #000;
    letter-spacing: .1em;
    font-weight: 300;
    font-family: "runda", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
  }
  /* line 38, ../sass/partials/_site-nav-advanced.scss */
  .site-nav li a:hover, .site-nav li a:focus {
    background: url('/assets/images/rgbapng/00000099.png?1351265196');
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    top: 4px;
    margin-top: -4px;
    border-bottom: 4px solid #639eb6;
  }
  /* line 41, ../sass/partials/_site-nav-advanced.scss */
  .site-nav li a:active {
    background: url('/assets/images/rgbapng/00000066.png?1351265196');
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 4px;
    margin-top: -4px;
    border-bottom: 4px solid #639eb6;
  }

  /* line 47, ../sass/partials/_site-nav-advanced.scss */
  .js [role="navigation"] {
    display: block;
  }

  /* line 50, ../sass/partials/_site-nav-advanced.scss */
  .js .site-branding .contact {
    padding: 0;
  }

  /* line 53, ../sass/partials/_site-nav-advanced.scss */
  #menu-icon {
    display: none;
  }

  /* line 56, ../sass/partials/_site-nav-advanced.scss */
  .site-nav-advanced {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  /* line 51, ../sass/advanced.scss */
  .site-tagline {
    border: 0;
  }

  /* line 55, ../sass/advanced.scss */
  p, .p {
    padding: 0 8.542%;
  }
  /* line 57, ../sass/advanced.scss */
  footer p, footer .p {
    padding: 0;
    margin-top: 0;
  }

  /* line 62, ../sass/advanced.scss */
  body {
    font-size: 16px;
  }

  /* line 67, ../sass/advanced.scss */
  .js .static-map, .js
  .hero.figure {
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    border-radius: 2%;
    margin: 0;
  }

  /* line 73, ../sass/advanced.scss */
  .js .site-branding .contact {
    padding: 0;
  }
}
@media only screen and (min-width: 48em) {
  /* line 2, ../sass/partials/_site-footer-advanced.scss */
  .social-footer .ss-icon {
    font-size: 32px;
    line-height: 1.85;
    padding: 0 0.5494505495%;
  }

  /* line 82, ../sass/advanced.scss */
  .content-wrapper {
    padding: 0 10%;
  }

  /* line 87, ../sass/advanced.scss */
  .js .site-nav li {
    float: right;
  }
  /* line 89, ../sass/advanced.scss */
  .js .site-nav li.first {
    float: left;
  }

  /* line 97, ../sass/advanced.scss */
  .article-title {
    padding-left: 20.98%;
    line-height: 1.1;
    font-size: 32px;
  }

  /* line 104, ../sass/advanced.scss */
  .location .static-map {
    display: inline;
    float: left;
    width: 61.6%;
    margin-right: 2.083%;
  }
  /* line 108, ../sass/advanced.scss */
  .location .static-map a {
    background-size: auto;
  }
  /* line 112, ../sass/advanced.scss */
  .location .vcard {
    overflow: hidden;
    width: auto;
    float: none;
  }

  /* line 122, ../sass/advanced.scss */
  .class-list .article {
    display: inline;
    float: left;
    width: 31.88%;
    margin-left: 2.083%;
  }
  /* line 126, ../sass/advanced.scss */
  .class-list .article:first-child {
    margin: 0;
  }
}
@media only screen and (min-width: 48em) and (orientation: landscape) {
  /* line 135, ../sass/advanced.scss */
  .content-wrapper {
    padding: 0 15%;
  }
}
@media only screen and (min-width: 60em) {
  /* line 148, ../sass/advanced.scss */
  .social {
    background: transparent;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 156, ../sass/advanced.scss */
  html {
    background-image: url('/assets/images/skin/grunge_wall_@2x.png?1351265196');
  }

  /* line 160, ../sass/advanced.scss */
  .site-nav,
  .social-footer {
    background-image: url('/assets/images/skin/grunge_wall_red_@2x.png?1351265196');
  }
}
