@import "susy";
@import "compass/utilities";
@import "compass/css3";
@import "compass/typography";
@import "rgbapng";

@import "partials/variables";
@import "partials/mixins";
@import "partials/typography";


// site-nav
// module location

.location {
  @include pie-clearfix;
  widht: 100%;
  .vcard {
    @include span-columns(6,12);
    padding-left: columns(1,12);
    &.last {
      margin-right: 0;
    }
    dd {
      margin: 0;
      position: relative;
      span:first-child,
      .map-marker {
        @include border-radius(1em);
        position: static;
        color: #fff;
        background: #F53837;
        display: inline-block;
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;
      }
    }
  }
  .figure {
    clear: both;
  }

}


// menu start stacking at 590px  => 590/16 = 36em
@media only screen and (min-width: 590px) {
  @import "partials/site-header-advanced";
  @import "partials/site-nav-advanced";
  // header
  .site-tagline {
    border: 0;
  }
  // paragraphs
  p, .p {
    padding: 0 8.542%;
    footer & {
      padding: 0;
      margin-top: 0;
    }
  }
  body {
    font-size: 16px;
  }
  .static-map,
  .hero.figure {
    // @include float(left);
    // width: 40%;
    // margin: 0 2% 2% 0;
    .js & {
      // margin: 0;
    }
  }
  .site-branding  .contact {
    .js & {
      padding:  0;
    }
  }
  // responsive map
  .map-container {
    display: block;
  }
  .static-map {
    display: none;
  }
}

// @media queries and min-width: 768px
@media only screen and (min-width: 48em) {
@import "partials/site-footer-advanced";
.content-wrapper {
  // padding: 0 10%;
}
  .site-nav {
    li {
      .js & {
        float: right;
        &.first {
          float: left;
        }
      }
    }
  }

  //headers
  .article-title {
    padding-left: 20.98%;  
    line-height: 1.1;
    font-size: 32px;
  }
  // classes page
  .location {
    .static-map {
      // @include float(left); 
      // width: 61.6%;
      // margin-right: 2.083%;
      a {
        background-size: auto;
      }
    }
    .vcard {
      overflow: hidden;
      width: auto;
      float: none;
      .map-marker {
      }
    }
  }
  // classes previews
  .class-list{
    .article {
      @include float(left);
      width: 31.88%;
      margin-left: 2.083%;
      &:first-child {
        margin: 0;
      }
    }
  }
  //end classes
}

@media only screen and (min-width: 48em) and (orientation: landscape) {
  .content-wrapper {
    // padding: 0 15%;
  }
}

// @media queries and min-width: 960px
@media only screen and (min-width: 60em) {

.content-wrapper {
  // padding: 0;
}
  .social-footer {
  }
  .social {
    background: transparent;
  }
}



@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  html {
    background-image: image-url('skin/grunge_wall_@2x.png');
  }
  .site-nav,
  .social-footer {
    background-image: image-url('skin/grunge_wall_red_@2x.png');
  }
}
