@import "vendors/normalize";
@import "compass/utilities";
@import "compass/css3";
@import "compass/typography";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
    font-family: 'BrothersBoldAlternatesBold';
    src: url('/assets/themes/salsacaribecouk/fonts/brothbolalt-071211005EmigreWebOnly.eot');
    src: url('/assets/themes/salsacaribecouk/fonts/brothbolalt-071211005EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('/assets/themes/salsacaribecouk/fonts/brothbolalt-071211005EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
  background: #fff;
  padding: 0 10%;
  font: normal 16px/1.5 "franklin-gothic-urw", Helvetica, Arial, sans-serif;
}
h1 {
  font-family: 'BrothersBoldAlternatesBold', sans-serif;
}
.container {
  width: auto;
}
.content {
  position: relative;
  top: 4em;
}
.site-nav {
  @include clearfix;
  border: #ccc solid 1px;
  border-width: 1px 0;
  width: 100%;
  text-align: center;
  li {
    float: left;
    display: inline;
    a {
      padding: 1em;
      display: block;
    }
  }
}
.visuallyhidden {
  position: absolute;
  left: -12345em;
}
.pills {
  span {
    background: #000;
    color: #fff;
    padding: .5em;
    border-radius: 5px;
  }
}

footer, .site-footer {
  clear: both;
}
