@import "vendors/normalize";
@import "compass/utilities";
@import "compass/css3";
@import "compass/typography";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
    $font_dir: '/assets/themes/salsacaribecouk/fonts';
    font-family: 'BrothersBoldAlternatesBold';
    src: url("#{$font_dir}/brothbolalt-071211005EmigreWebOnly.eot");
    src: url("#{$font_dir}/brothbolalt-071211005EmigreWebOnly.eot?#iefix") format('embedded-opentype'),
         url("#{$font_dir}/brothbolalt-071211005EmigreWebOnly.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
// @include font-face("BrothersBoldAlternatesBold", font-files("/brothbolalt-071211005EmigreWebOnly.eot","/brothbolalt-071211005EmigreWebOnly.eot?#iefix", "brothbolalt-071211005EmigreWebOnly.woff"));
// @include font-face("Blooming Grove", font-files("examples/bgrove.ttf", "examples/bgrove.otf"));

body {
  background: #fff;
  padding: 0 10%;
  font: normal 100%/1.5 "ronnia", "franklin-gothic-urw", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
[role="banner"] {
  .logo,
  .tagline {
    font-family: 'BrothersBoldAlternatesBold', "ronnia", "Helvetica Neue", Helvetica, Arial, sans-serif;
    span {
      white-space: nowrap;
    }
  }
  .tagline {
    font-size: 3.75em; //60px/16px
    // font-size: 3.75rem;
    text-align: center;
    letter-spacing: 5px;
  }
}
#{headers(all)} {
  font-family: ronnia, sans-serif;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
ul {
  font-family: ronnia, sans-serif;
  font-weight: normal;
}
.container {
  width: auto;
}
.content {
  position: relative;
}
.site-nav {
  @include clearfix;
  border: #ccc solid 1px;
  border-width: 1px 0;
  width: 100%;
  text-align: center;
  li {
    float: left;
    display: inline;
    a {
      padding: 1em;
      display: block;
    }
  }
}
.visuallyhidden {
  position: absolute;
  left: -12345em;
}
.pills {
  span {
    background: #000;
    color: #fff;
    padding: .5em;
    border-radius: 5px;
  }
}

footer, .site-footer {
  clear: both;
}
