<section class="location" markdown="1">
  <dl class="vcard">
    <dd class="buffalo"><span class="map-marker">A</span> <span class="fn org"><a href="#classes">The Buffalo bar</a></span></dd>
    <dt>
      <span class="street-address">259 Upper street</span>, <span class="postal-code">N1 1RU</span> <span class="locality">London</span>
    </dt>
  </dl>
  <dl class="vcard last">
    <dd class="place"><span class="map-marker">B</span> <span class="fn org"><a href="#classes">The Place dance studio</a></span></dd>
    <dt>
      <span class="street-address">259 Upper street</span> <span class="postal-code">WC1</span> <span class="locality">London</span>
    </dt>
  </dl>
  <div class="static-map">
    <a href="https://maps.google.com/maps/ms?msid=204512405293599754812.0004cd6e64e8e7a252869&msa=0&ll=51.535018,-0.128059&spn=0.062359,0.050983"><img src="http://maps.google.com/maps/api/staticmap?center=51.525193,-0.110893&zoom=12&markers=51.538977,-0.104964|51.507335,-0.127683&size=650x366&sensor=false"></a>
  </div>
  <!-- <figure class="figure embed-media-block"> -->
  <!--     <!-- <iframe width='100%' height='100%' frameBorder='0' src='http://a.tiles.mapbox.com/v3/bishbashbosh.map-hs0p13ed.html#14/51.53790219193829/-0.11344671249390922'></iframe> --> -->
  <!--     <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msid=204512405293599754812.0004cd6e64e8e7a252869&amp;msa=0&amp;ie=UTF8&amp;ll=51.529572,-0.116901&amp;spn=0.126015,0.154324&amp;t=m&amp;output=embed"></iframe> -->
  <!--   </figcaption> -->
  <!-- </figure> -->
</section>

