<section class="location" markdown="1">
  <div class="figure google-map">
    <!-- <a href="https://maps.google.com/maps/ms?msid=204512405293599754812.0004cd6e64e8e7a252869&msa=0&ll=51.535018,-0.128059&spn=0.062359,0.050983"><img src="/assets/images/map-large.jpg"></a> -->
    <div class="figcaption">
      <a href="https://maps.google.com/maps/ms?msid=204512405293599754812.0004cd6e64e8e7a252869&msa=0&ll=51.535018,-0.128059&spn=0.062359,0.050983" class="map-link">View our classes location on google map</a>
    </div>
  </div>
  <!-- <dl class="vcard"> -->
  <!--   <dd class="buffalo"><span class="map-marker">A</span> <span class="fn org"><a href="#classes">The Buffalo bar</a></span></dd> -->
  <!--   <dt> -->
  <!--     <span class="street-address">259 Upper street</span>, <span class="postal-code">N1 1RU</span> <span class="locality">London</span> -->
  <!--   </dt> -->
  <!-- </dl> -->
  <!-- <dl class="vcard last"> -->
  <!--   <dd class="place"><span class="map-marker">B</span> <span class="fn org"><a href="#classes">The Place dance studio</a></span></dd> -->
  <!--   <dt> -->
  <!--     <span class="street-address">259 Upper street</span> <span class="postal-code">WC1</span> <span class="locality">London</span> -->
  <!--   </dt> -->
  <!-- </dl> -->
</section>

