  <div id="classes">
    <article class="article">
      <header class="header event-header">
        <figure class="figure">
          <img src="{{ post.image.mobile }}" alt="{{ post.image.alt }}" />
          <figcaption class="figcaption">
            <span>{{ post.title }}</span>
          </figcaption>
        </figure>
        <hgroup class="hgroup">
        {%  capture day %}{{post.date |date: '%A' | downcase }}{% endcapture %}
          <a href="{{ BASE_PATH }}{{ post.url }}">
            <h3 class="title">{{ post.summary }}</h3>
          </a>
        </hgroup>
      </header>
      <footer class="footer">
        <p class="pill">{{ day }}</p> 
        <p>{{ post.start_date }} {% if post.end_date %}- {{ post.end_date }}{% endif %} <a href="{{ post.location.map_url }}" title="Locate {{ post.location.name}} on Google map"><b>{{post.location.name}}</b></a>, {{ post.location.street_address}}, {{ post.location.postal_code}}, {{ post.location.locality }}.</p>
      </footer>
    </article>
  </div>
