<div class="row">
  <div class="pagination">
    <ul>
      {% if post.previous and post.previous.category == "classes" %}
        <li class="prev"><a href="{{ base_path }}{{ post.previous.url }}" title="{{ post.previous.title }}">&larr; previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; previous</a></li>
      {% endif %}
        <li><a href="{{ base_path }}{{ site.jb.events_path }}">events listing</a></li>
      {% if post.next and post.next.rel == "me" %}
        <li class="next"><a href="{{ base_path }}{{ post.next.url }}" title="{{ post.next.title }}">next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>next &rarr;</a>
      {% endif %}
    </ul>
  </div>
</div>
