    {%  capture day %}{{post.date |date: '%A' | downcase }}{% endcapture %}
    <article class="article">
      <header class="header event-header">
        <a href="{{ BASE_PATH }}{{ post.url }}"  class="{{ post.title | escape }}">
            <div  data-alt="{{ post.image.alt }}" data-picture class="hero">
              <div data-src="{{ post.image.small }}"></div>
              <div data-src="{{ post.image.medium }}" data-media="(min-width: 400px)"></div>
              <div data-src="{{ post.image.medium@2x }}" data-media="(min-width: 400px) and (min-device-pixel-ratio: 2.0)"></div>
              <!--[if (lt IE 9) & (!IEMobile)]>
                  <div data-src="{{ post.image.medium }}"></div>
                <![endif]>-->
              <noscript>
                <img src="{{ post.image.small }}" alt="{{ post.image.alt }}" />
              </noscript> 
            </div>
              <a href="#event-map" class="map-marker" title="view the event location on our map">{{ post.location.position | capitalize }}</a>
          <p class="pill">{{ day }}</p>
      </a>
        <hgroup class="hgroup">
          <a href="{{ BASE_PATH }}{{ post.url }}">
            <h2 class="event-fn"><span>{{ post.title }}</span></h2>
            <h3 class="event-summary">{{ post.summary }}</h3>
          </a>
        </hgroup>
      </header>
      <footer class="footer event-details">
        <p><span>{{ post.start_date }}</span> {% if post.end_date %}- {{ post.end_date }}{% endif %} <a href="{{ post.location.map_url }}" title="Locate {{ post.location.name}} on Google map"><b>{{post.location.name}}</b></a>, <span>{{ post.location.street_address}}</span>, <span>{{ post.location.postal_code}}</span>, <span>{{ post.location.locality }}</span>.</p>
      </footer>
    </article>
