<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script defer  src='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js'></script>
<script defer src="/assets/js/libs/respond.min.js"></script>
<script defer src="/assets/js/libs/ajaxinclude.jquery.js"></script>
<script defer src="/assets/js/libs/picturefill.js"></script>
<script defer src="/assets/js/libs/jquery.fittext.js"></script>
<script defer src="/assets/js/libs/jquery.lettering.js"></script>
<script defer src="/assets/js/script.js"></script>
