<h3 class="notes">Hang on, i'ts salsa o'clock!</h3>
  {% for post in site.posts reversed  %}
    {% if post.tags contains 'classes' or post.tags contains 'workshop' %}
    {%capture freq %}{{  post.freq | date: '%m %b'  }}{% endcapture%}
<dl class="quick-cal">
    <dt class="summary"><a href="{{ post.url }}"> {{ post.title }}</a></dt>
    <dd class="dtstart"><abbr title="{{ post.date | date: '%A' }}">{{ post.date | date: '%a' }}</abbr></dd>
    <dd class="freq">{{ freq }}</dd>
</dl>
    {% endif %}
  {% endfor %}

