<header>
  <div class="header row" role="banner">
    <h1 class="column primary-content first">
      learn to Dance with the cuban salsa specialists
    </h1>
    <div class="column secondary-content">
      <dl class="vcard">
        <dt>
          <a href="http://www.salsacaribe.co.uk/" class="url" rel="home">
            <div class="figure">
              <figure>
                <img class="logo photo" src="http://placehold.it/235x147/" aria-labelledby="figcap_001" />
                <figcaption class="fn org" id="figcap_001">Salsa Caribe production</figcaption>
              </figure>
            </div>
          </a>
        </dt>
        <dd class="tel"><span class="type" title="work">Phone:</span> <span class="value">+4412345678</span></dd>
        <dd class="email"><span class="type" title="work">Email:</span> <span class="value">Salsacaribe@aol.com</span></dd>
      </dl>
    </div>
  </div>
</header>

