<nav class="nav site-nav">
  <div class="content-wrapper">
    <h2 class="visuallyhidden">Navigation</h2>
      <ul role="navigation">
        {% for link in site.navigation %}
          {% assign current = nil %}
          {% if page.url == link.url %}
            {% assign current = 'active' %}
          {% endif %}
          <li {% if forloop.first %}class="first"{% endif %}{% if forloop.last %}class="last"{% endif %}>
          <a class="{{ link.text | downcase | replace: ' ', '-' }}{% if current != nil %} active{% endif %}" href="{% if link.url == '/index.html' %}/{% else %}{{ link.url }}{% endif %}">{{ link.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
</nav>
