  <aside class="social-footer">
    <h5 class="visuallyhidden">Follow Us</h5>
    <ul class="icon-list">
      <li><a href="mailto:salsacaribe@aol.com"  class="ss-icon ss-social-circle">email</a></li>
      <li class="ss-icon"><a href="http://www.facebook.com/groups/56250638899"  rel="external" class="ss-icon ss-social-circle" data-tooltip="Facebook">Facebook</a></li>
      <li class="ss-icon"><a href="http://www.twitter.com/salsacaribecouk" rel="external" class="ss-icon ss-social-circle" data-tooltip="Twitter">Twitter</a></li>
      <li class="ss-icon"><a href="http://www.flickr.com/photos/salsacaribe" rel="external" class="ss-icon ss-social-circle" data-tooltip="Flickr">Flickr</a></li>
      <li class="ss-icon"><a href="http://www.youtube.com/user/salsacaribecouk" rel="external" class="ss-icon ss-social-circle" data-tooltip="YouTube">YouTube</a></li>
      <li class="ss-icon"><a href="spotify:user:salsacaribecouk:playlist:7ggEvHXMQxeVU2khmGu8GY" rel="external" class="ss-icon ss-social-circle" data-tooltip="Spotify">spotify</a></li>
      <li class="ss-icon"><a href="http://www.last.fm/user/salsacaribeuk" rel="external" class="ss-icon ss-social-circle" data-tooltip="LastFm">lastfm</a></li>
      <!-- <li class="ss-icon"><a href="/atom.xml" rel="external" class="ss-icon ss-social-circle">RSS</a></li> -->
    </ul>
  </aside>
<div class="site-footer">
    <div class="content-wrapper">
      <h2 class="strapline">Explore the true essence of Cuban music and dance with {{ site.vcard.name }}</h2>
      <nav>
        {% include partials/quick_cal.html %}
      </nav> 
      <div class="player">
      </div>
      <footer role="contentinfo">
        <address>
          For more information, contact <a href="mailto:info@salsacaribe.co.uk">info@salsacaribe.co.uk</a> or give us a call <a href="tel:{{ site.vcard.phone.machine }}">{{ site.vcard.phone.human }}</a>
        </address>
        <p>&copy; {{ site.vcard.name }} 2012</p>
      </footer>
    </div>
</div>
