<aside>
  <div class="aside secondary-content col">
    <h3>Our events and classes</h3>
    <dl>
      {% for post in site.posts reversed  %}
      {% if post.rel == "me" %}
      <dt>{{ post.category }}</dt>
      <dd> <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></dd>
      {% endif %}
      {% endfor %} 
    </dl>

    <h3>Other events</h3>
    <dl>
      {% for post in site.posts reversed limit: 5 %}
      {% if post.rel != "me" %}
      <dt>{{ post.category }}</dt>
      <dd> <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></dd>
      {% endif %}
      {% endfor %} 
    </dl>
    <p>
      <a href="{{ BASE_PATH }}/news/">more news…</a>
    </p>
  </div>
</aside>
