<nav class="nav site-nav">
  <div class="content-wrapper">
    <h2 class="visuallyhidden">site navigation</h2>
    <ul role="navigation">
      {% for link_hash in site.site-nav %}
        {% for link in link_hash %}
          {% assign id = page.id %}
          {% if id == link[0] %}
            <li class="active"><a href="{{ base_path }}/{{ link[1] }}" class="active">{{ link[0] }}</a></li>
          {% else %}
            <li><a href="{{ base_path }}/{{ link[1] }}">{{ link[0] }}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
</nav>
<p>
  {% for post in site.posts  %}
    {{ post.category[0] }}
  {% endfor %}
</p>
