  <ul class="icon-list">
    <li><a href="mailto:salsacaribe@aol.com"  data-tooltip="email" title="Send us an email"><span class="ss-icon ss-social-circle">email</span></a></li>
    <li><a href="http://www.facebook.com/groups/56250638899" rel="me" data-tooltip="Facebook" title="Follow us in Facebook"><span class="ss-icon ss-social-circle">Facebook</span></a></li>
    <li><a href="http://www.twitter.com/salsacaribecouk" rel="me" data-tooltip="Twitter" title="Follow us on Twitter"><span class="ss-icon ss-social-circle">Twitter</span></a></li>
    <li><a href="http://www.flickr.com/photos/salsacaribe" rel="me" data-tooltip="Flickr" title="Follow us on Flickr"><span class="ss-icon ss-social-circle">Flickr</span></a></li>
    <li><a href="http://www.youtube.com/user/salsacaribecouk" rel="me" data-tooltip="YouTube" title="Follow us on YouTube"><span class="ss-icon ss-social-circle">YouTube</span></a></li>
    <li><a href="spotify:user:salsacaribecouk:playlist:7ggEvHXMQxeVU2khmGu8GY" rel="me" data-tooltip="Spotify" title="Follow us on Spotify"><span class="ss-icon ss-social-circle">spotify</span></a></li>
    <li><a href="http://www.last.fm/user/salsacaribeuk" rel="me" data-tooltip="LastFm" title="Follow us on lastFm"><span class="ss-icon ss-social-circle">lastfm</span></a></li>
    <li><a href="/atom.xml" rel="me" data-tooltip="RSS"><span class="ss-icon ss-social-circle">RSS</span></a></li>
  </ul>
