.quick-cal {
  @include pie-clearfix;
  position: relative;
  text-transform: uppercase;
  margin: 0 0 1% 0;
  abbr {
    border: 0;
  }
  .dtstart,
  .summary,
  .freq {
    @include float(left);
    @include nowrap;
    margin: 0;
    padding: 0 .5em;
    text-align: center;
  }
  .dtstart,
  .freq {
    line-height: 2.5;
    width: 3.75em;
  }
  .dtstart {
    width: 2.1875em;
    margin-right: 1%;
    background: #4D8DA6 image-url('skin/grunge_wall_blue.png');
  }
  .summary {
    clear: left;
    font-size: 150%;
    font-family: $brand_font;
    line-height: 1.65;
    position: absolute;
    left: 135px;
    left: 5.625em;
  }
  .freq {
    background: #85202E image-url('skin/grunge_wall_red.png') repeat 0 0; 
  }

}
  .notes {
    font: {
      size: 200%;
      weight: 400;
      family: $brand_font;
    }
    color: hsla(0,0,100%,.9);
    border: darken(#CCCCC8, 40%) 1px solid;
    border-width: 1px 0;
    margin: .7em 0;
    text-align: center;
    color: #CBCBC7;
    color: hsla(0,0,100%,.75);
  }
