.site-nav {
  @include clearfix;
  background: #8B2A2C url('/assets/images/skin/grunge_wall_red.png') repeat 0 0;
  text-align: center;
  font-weight: 500;
  ul {
    margin: 0;
  }
  li {
    float: left;
    display: inline;
    a {
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 1em;
      color: #fff;
      font-weight: 300;
    }
  }
}
