[role="banner"] {
}
.site-tagline {
  font-family: $brand_font;
  display: inline-block;
  width: 100%;
  line-height: 1;
  span {
    white-space: nowrap;
  }
}
.site-tagline {
  font-size: 3.75em; //60px/16px
  text-align: center;
  letter-spacing: .03225em;
  margin: 0;
  padding: 48px 0;
}
.site-logo {
  font-size: 30px;
  font-family: $brand_font;
  letter-spacing: .05em;
  margin: 0;
  @include float(left);
  a{
    text-decoration: none;
  }
}
.site-branding {
  .site-logo,
  .contact {
    margin: 0;
  }
  .contact {
    font-size: 14px;
    line-height: 3.5;
  }
}
