.site-footer {
  clear: both;
  // collapse margin
  padding-top: 1px;
  
  color: lighten(#DCE9EF, 65%);
  font-family: "freight-sans-pro", $body_font;
}

.site-footer {
  height: auto;
  .content-wrapper {
    padding: 0 20px;
  }
  .strapline {
    margin: 0;
    font-weight: 300;
    font-size: 80%;
    padding: .5em 1.25em;
  }
}
.social-footer {
  background:#952E2E image-url('skin/grunge_wall_red.png') repeat 0 0;
  // color: #fff;
  font-size: 100%;
  text-align: center;
  height: 50px;
  .icon-list {
    margin: 0;
    padding:  0;
    list-style: none;
    li {
      display: inline;
    }
  }
  .ss-icon {
    display: inline;
    @include inline-block;
    padding: 0 .09375em; // padding 0 3px/32px
    font-size: 32px;
    text-shadow: 0 1px 1px hsla(0,0,0,0.7);
    margin: 0; 
    margin-bottom: -6px;
    vertical-align: bottom;
    color: #fff;
    color: hsla(0,0,100%, .8);
    &:hover {
      color: #fff;
      text-shadow: 0 0 8px hsla(0,0,100%,.7);
    }
  }
}


