// @import "compass/utilities";

@font-face {
    font-family: 'BrothersRegularMedium';
    src: font-url('brothreg-071211005EmigreWebOnly.eot');
    src: font-url('brothreg-071211005EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         font-url('brothreg-071211005EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrothersBoldAlternatesBold';
    src:font- url("brothbolalt-071211005EmigreWebOnly.eot");
    src: font-url("brothbolalt-071211005EmigreWebOnly.eot?#iefix") format('embedded-opentype'),
         font-url("brothbolalt-071211005EmigreWebOnly.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}


#{headers(all)} {
  font-family: $body_font;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  b, strong {
    font-weight: inherit;
    color: #952E2E;
  }
}

[class$="title"],
[class$="title"] a {
    color: darken(#DCE9EF, 65%);
}
p {
  @include hyphens(auto);
  margin: 1em 0;
}

// line elements
address {
  font-style: normal;
}


// module pullquotes
.pullquote-right:before,
.pullquote-left:before {
	/* Reset metrics. */
	padding: 0;
	border: none;

	/* Content */
	content: attr(data-pullquote);

	/* Pull out to the right, modular scale based margins. */
	float: right;
	width: 320px;
	margin: 12px -140px 24px 36px;

	/* Baseline correction */
	position: relative;
	top: 5px;

	/* Typography (30px line-height equals 25% incremental leading) */
	font-size: 23px;
	line-height: 30px;
}
.pullquote-left:before {
	float: left;
	margin: 12px 31px 24px -102px;
	width: 251px;
}
// headers

.article-title {
  @include rgba-background(hsla(0,0,100%,.4));
  box-shadow: 0 5px 0 #fff,inset 0 5px 0 #fff;
  padding: 0 1em;
  text-align: right;
  line-height: 1.2;
  margin-bottom: 2em;
  span {
    position: relative;
    top: 5px;
    display: inline-block;
    padding: .5em  0;
    border-bottom: 5px solid darken(#DCE9EF, 40%);
  }
}
.title {
  b,
  strong {
    color: lighten(#8A2424, 10%);
    font-weight: 500;
  }
}
// phrase elements

b,
strong {
  font-weight: 300;
}

// numerals

[href^="tel"] {
  font-family: 'freight-sans-pro', $body_font;
  font-weight: 700;
  font-size: 125%;
  .site-header & {
    font-size: 100%;
    font-weight: 300;
  }
}
