@import "compass/utilities";
@font-face {
    font-family: 'BrothersBoldAlternatesBold';
    src: url("#{$font_dir}/brothbolalt-071211005EmigreWebOnly.eot");
    src: url("#{$font_dir}/brothbolalt-071211005EmigreWebOnly.eot?#iefix") format('embedded-opentype'),
         url("#{$font_dir}/brothbolalt-071211005EmigreWebOnly.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}


#{headers(all)} {
  font-family: $body_font;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  // font-weight: 700;
}

