%visuallyhidden {
  position: absolute;
  left: -12345em;
}
@mixin hover {
  @include rgba-background(hsla(0,0,0,.6));
  position: relative;
  top: 4px;
  margin-top: -4px;
  border-bottom: 4px solid darken(hsl(197,36%,60%), 5%);
}
@mixin active {
  @include rgba-background(hsla(0,0,0,.4));
  position: relative;
  top: 4px;
  margin-top: -4px;
  border-bottom: 4px solid darken(hsl(197,36%,60%), 5%);
}

// HiDPI mixin. Default value set to 1.3 to target Google Nexus 7 (http://bjango.com/articles/min-device-pixel-ratio/)
@mixin hidpi($ratio: 1.3) {
  @media only screen and (-webkit-min-device-pixel-ratio: $ratio),
  only screen and (min--moz-device-pixel-ratio: $ratio),
  only screen and (-o-min-device-pixel-ratio: #{$ratio}/1),
  only screen and (min-resolution: #{round($ratio*96)}dpi),
  only screen and (min-resolution: #{$ratio}dppx) {
    @content;
  }
}

%grunge {
    -webkit-mask-image: image-url('skin/mask.png');
}
