<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if (IE 8)&!(IEMobile)]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt (IE 8)&!(IEMobile)]><!-->
<html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <title>{% if page.title %}{{ page.title | strip_html}} |{% endif %} Salsa Caribe</title>
    <meta charset="utf-8">
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="{{ site.vcard.name }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="{{ ASSET_PATH }}/css/global.css?{{ site.time | date:'%Y%m%d%U%H%N%S' }}" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/advanced.css?{{ site.time | date:'%Y%m%d%U%H%N%S' }}" rel="stylesheet"  media="all and (min-width: 480px)">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/fonts/ss-social.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/fonts/ss-standard.css">
    <!--[if (lt IE 9)&(!IEMobile)]>
        <link rel="stylesheet" href="{{ ASSET_PATH }}/css/advanced.css?{{ site.time | date:'%Y%m%d%U%H%N%S' }}" media="all" />
        <script src="{{ ASSET_PATH }}/js/libs/respond.min.js"></script>
    <![endif]-->

  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  <script src="{{ ASSET_PATH }}/js/libs/modernizr-latest.js"></script>
    <script type="text/javascript" src="//use.typekit.net/fgw3lqt.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body class="{{ page.id | remove_first: '/' | downcase }}">
    <div class="body-inner">
      {% include partials/site_header.html %}
      <div class="container content-wrapper">
        <div class="content row">
          {{ content }}
        </div>
      </div>
    </div>
    {% include partials/site_footer.html %}
    {% include partials/js_footer.html %}
  </body>
</html>
