<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{{ page.title | strip_html}} |{% endif %} Salsa Caribe</title>
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="{{ site.vcard.name }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{{ ASSET_PATH }}/css/global.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/advanced.css" rel="stylesheet"  media="all and (min-width: 480px)">
    <!--[if (lt IE 9)&(!IEMobile)]>
        <link rel="stylesheet" href="{{ ASSET_PATH }}/css/advanced.css" media="all" />
    <![endif]-->

  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/fgw3lqt.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body class="{{ page.category | downcase }}">
    <div class="container row">
      {% include partials/site_header.html %}
      {% include partials/site_nav.html %}
      <div class="content row">
        {{ content }}
      </div>
    {% include partials/site_footer.html %}
    </div>
    {% include partials/js_footer.html %}
    {% include JB/analytics %}
  </body>
</html>
