<section>
  {%  capture day %}{{ page.date |date: '%A' | downcase }}{% endcapture %}
  <article class="article vevent">

    {% if page.tags %}
    <dl class="pills">
      <dt class="visuallyhidden">categories</dt>
      {% for tag in page.tags %}
      <dd class="pill">
      {{ tag }}
      </dd>
      {% endfor %}
      <dd class="pill">
      {{ day | capitaddze }}
      </dd>
    </dl>
    {% endif %}

    {% if page.summary %}
    <h2 class="summary"><span>{{ page.summary }}</span></h2>
    {% endif %}

    {% if  page.description %}
    <div class="description">
      {{ page.description | markdownify }}
    </div>
    {% endif%}
    {% if page.image %}
    <figure class="figure hero">
      <noscript data-large='{{  page.image.large }}' data-small='{{ page.image.small }}' data-alt='{{ page.image.alt }}'><img src='{{ page.image.mobile }}' alt='{{ page.image.alt }}' /></noscript>
      <figcaption>{{ page.image.caption }}</figcaption>
    </figure>
    {% endif %}


    {{ content }}
  </article>
</section>
<aside class="aside">
  <!-- <h2>test</h2> -->
</aside>
