<section>
  {%  capture day %}{{ page.date |date: '%A' | downcase }}{% endcapture %}
  {% include partials/history_helper.html %}
  <article class="article vevent">

    {% if page.tags %}
    <dl class="pills">
      <dt class="visuallyhidden">categories</dt>
      {% for tag in page.tags %}
      <dd class="pill">
      {{ tag }}
      </dd>
      {% endfor %}
      <dd class="pill">
      {{ day | capitaddze }}
      </dd>
    </dl>
    {% endif %}

    {% if page.summary %}
      {% include partials/post_summary_helper.html %}
    {% endif %}

    {% if  page.description %}
    <div class="description">
      {{ page.description | markdownify }}
    </div>
    {% endif%}
    {% if page.image %}
    <figure class="figure hero">
      <div  data-alt="{{ page.image.alt }}" data-picture>
        <div data-src="{{ page.image.small }}"></div> 
        <div data-src="{{ page.image.medium }}" data-media="(min-width: 400px)"></div> 
        <div data-src="{{ page.image.large }}" data-media="(min-width: 800px)"></div> 
        <!--[if (lt IE 9) & (!IEMobile)]>
        <div data-src="{{ page.image.medium }}"></div>
        <![endif]-->
        <noscript>
          <img src="{{ page.image.small }}" alt="{{ page.image.alt }}" />
        </noscript>
      </div>
      <figcaption class="figcaption">{{ page.image.alt }}</figcaption>
    </figure>
    {% endif %}


    {{ content }}
  </article>
</section>
<aside class="aside">
  <!-- <h2>test</h2> -->
</aside>
